<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/weadmin.css">
</head>

<body>
    <div class="weadmin-body">
        <form action="" class="layui-form">
            <div class="layui-form-item">
                <label for="L_deptname" class="layui-form-label">
                    <span class="we-red"></span>部门名称
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="L_deptname" name="deptname" autocomplete="off" class="layui-input">
                </div>

                <div class="layui-form-item">
                    <label for="L_num" class="layui-form-label">员工人数</label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_num" name="num" lay-verify="required|num" autocomplete=""
                            class="layui-input">
                    </div>
                </div>

            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="add" lay-submit="">确定</button>
                <input type="hidden" name="dataId" id="dataId" value="" />
            </div>
        </form>
    </div>
    <script src="../lib/layui/layui.js" charset="utf-8"></script>

    <script>
        layui.extend({
            admin: '{/}http://localhost/system/js/admin'
        });
        layui.use(['form', 'jquery', 'util', 'admin', 'layer'], function () {
            var form = layui.form,
                $ = layui.jquery,
                util = layui.util,
                admin = layui.admin,
                layer = layui.layer;

            //自定义验证规则
            form.verify({
                nikename: function (value) {
                    if (value.length < 2) {
                        return '名称至少两个字';
                    }
                },
            });

            //监听提交
            form.on('submit(add)', function (data) {
                var f = data.field;

                //发异步，把数据提交给php
                $.ajax({
                    type: "post",
                    url: "/system/dept/add",
                    data: {name: f.deptname,employeeNum: f.num},
                    dataType: "json",
                    success: function (resp) {
                        // console.log(resp)
                        if (resp.code === 200) {
                            layer.alert(resp.msg, {
                                icon: 6
                            }, function () {
                                // 获得frame索引
                                var index = parent.layer.getFrameIndex(window.name);
                                //关闭当前frame
                                parent.layer.close(index);
                            });
                        }else {
                            layer.alert(resp.msg);
                            return false
                        }
                    }
                });
                //发异步，把数据提交给php

                return false;
            });
        });
    </script>
</body>

</html>