<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>统计图表</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="stylesheet" href="../css/font.css">
		<link rel="stylesheet" href="../css/weadmin.css">
    </head>
    <body>
        <div style="width: 100%;height: 80px;"></div>
        <div class="weadmin-body">
            <div id="main" style="width: 100%;height:400px;"></div>
        </div>
        <script src="//cdn.bootcss.com/echarts/4.0.2/echarts.min.js"></script>
        <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '人员流动统计图'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['公关部','技术部','财务部','工程部','人力资源部']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['2013','2014','2015','2016','2017','2018','2019']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name:'公关部',
                    type:'line',
                    stack: '总量',
                    data:[120, 132, 101, 134, 90, 230, 210]
                },
                {
                    name:'技术部',
                    type:'line',
                    stack: '总量',
                    data:[220, 182, 191, 234, 290, 330, 310]
                },
                {
                    name:'财务部',
                    type:'line',
                    stack: '总量',
                    data:[150, 232, 201, 154, 190, 330, 410]
                },
                {
                    name:'工程部',
                    type:'line',
                    stack: '总量',
                    data:[320, 332, 301, 334, 390, 330, 320]
                },
                {
                    name:'人力资源部',
                    type:'line',
                    stack: '总量',
                    data:[820, 932, 901, 934, 1290, 1330, 1320]
                }
            ]
        };

        // 异步加载数据
        // $.get('').done(function (data) {
        //     // 填入数据
        //     myChart.setOption({
        //         xAxis: {
        //             data: data.categories
        //         },
        //         series: [{
        //             // 根据名字对应到相应的系列
        //             name: '销量',
        //             data: data.data
        //         }]
        //     });
        // });

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
    </body>
</html>